<div class="col-md-3">
  <h2 class="text-center">Edit Trip</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Code:</label>
      <input type="text" formControlName="code" placeholder="Code" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && editForm.get('code').errors }">
      <div *ngIf="submitted && editForm.get('code').errors">
        <div *ngIf="editForm.get('code').hasError('required')">Trip Code is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Name:</label>
      <input type="text" formControlName="name" placeholder="Name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && editForm.get('name').errors }">
      <div *ngIf="submitted && editForm.get('name').errors">
        <div *ngIf="editForm.get('name').hasError('required')">Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Length:</label>
      <input type="text" formControlName="length" placeholder="Length" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && editForm.get('length').errors }">
      <div *ngIf="submitted && editForm.get('length').errors">
        <div *ngIf="editForm.get('length').hasError('required')">Length is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Start:</label>
      <input type="text" formControlName="start" placeholder="Start" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && editForm.get('start').errors }">
      <div *ngIf="submitted && editForm.get('start').errors">
        <div *ngIf="editForm.get('start').hasError('required')">Start is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Resort:</label>
      <input type text formControlName="resort" placeholder="Resort" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && editForm.get('resort').errors }">
      <div *ngIf="submitted && editForm.get('resort').errors">
        <div *ngIf="editForm.get('resort').hasError('required')">Resort is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>PerPerson:</label>
      <input type="text" formControlName="perPerson" placeholder="PerPerson" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && editForm.get('perPerson').errors }">
      <div *ngIf="submitted && editForm.get('perPerson').errors">
        <div *ngIf="editForm.get('perPerson').hasError('required')">PerPerson is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Image:</label>
      <input type="text" formControlName="image" placeholder="Image" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && editForm.get('image').errors }">
      <div *ngIf="submitted && editForm.get('image').errors">
        <div *ngIf="editForm.get('image').hasError('required')">Image is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Description:</label>
      <input type="text" formControlName="description" placeholder="Description" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && editForm.get('description').errors }">
      <div *ngIf="submitted && editForm.get('description').errors">
        <div *ngIf="editForm.get('description').hasError('required')">Description is required</div>
      </div>
    </div>

    <button type="submit" class="btn btn-info">Save</button>
  </form>
</div>